* {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1581431886211-6b932f8367f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #cccccc;
  height: 100vh;
  line-height: 400%;
  width: 75%;
}

.head-question-box {
  height:100vh;
  width:40%;
  display: flex;
  flex-direction: column;
}

.questionText {
  font-size: 1em;
}

.question-bank{
  display: inline-block;
  width: 100%;
}
