.scoreBox-container {
  width: 25%;
  color:white;
}

.answer-count {
  padding-top: 2em;
}

.game-title {
  font-size: 2.4em;
}

.answer-count {
  font-size: 1.7em;
}

.answer-number {
  font-size: 1.2em;
}
