.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width:100%;
  background-color: black;
}

.title {
  color: white;
  font-size: 3em;
  margin: .2em;
}

.title-img {
  width: 20%;
}

.start-btn {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  color: white;
  font-size: 15px;
  background: black;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.start-btn:hover {
  background: #00ab66;
  text-decoration: none;
}
